<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />


<script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse" th:fragment="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><span th:text="#{label.brand}"></span></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"  th:text="#{label.nuevo}">
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/RegistroCliente"  th:text="#{label.nuevo}"></a></li>
                    <li><a href="/listaClientes"  th:text="#{label.exist}"></a></li>


                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"  th:text="#{label.equipos}">
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/RegistroEquipos"  th:text="#{label.equipos}"></a></li>
                    <li><a href="/subfamiliaEquipos"  th:text="#{label.subcat}"></a></li>
                    <li><a href="/familiaEquipos"  th:text="#{label.cat}"></a></li>



                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"  th:text="#{label.alq}">
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/RegistroAlquiler"  th:text="#{label.reg}"></a></li>




                </ul>
            </li>

            <li><a href="#"  th:text="#{label.user}">Usuarios</a></li>
            <li> <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form></li>
        </ul>
    </div>
</nav>

</html>