<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head lang="en">
    <meta charset="UTF-8"/>
    <title  th:text="#{label.title}"> </title>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />

    <script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:include="fragments/NavBar :: navbar"></div>

<form class="form-horizontal" action="#" th:action="@{/Devolucion}"  method="post">

    <div class="form-group">
    <label class="control-label col-sm-2">Cliente:</label>
    <div class="col-sm-10">
        <select class="selectpicker form-control" data-live-search="true" id="clienteID" name="clienteID" onchange="ListChange()">
            <option>Seleccione</option>
            <option th:each="cliente : ${clientes}" th:value="${cliente.id}"  th:text="${cliente.nombre}" ></option>
        </select>
    </div>
    </div>

    <div class="form-group">
    <label class="control-label col-sm-2">Alquiler:</label>
    <div class="col-sm-10">
        <select class="selectpicker form-control" data-live-search="true" id="fechaCli" name="fechaAlquilerCli" onchange="fillTable()">
            <option>Seleccione</option>
        </select>
    </div>
    </div>

    <table class="table table-bordered" id="myTable">
    <thead>
    <tr>
        <th>
            Equipo
        </th>
        <th>
            Cantidad
        </th>
        <th>
            Fecha de Alquiler
        </th>
        <th>
            Fecha de Entrega
        </th>
        <th>
            Cantidad Entrega
        </th>
    </tr>
    </thead>
    <tbody>

    </tbody>
    </table>

    <br/>

    <a onclick="facturar()">Facturar</a>

    <br/>

    <div class="form-group">
        <div class="col-sm-10">
            <label>Cantidad de días de alquiler:</label>
            <input id="diasT" name="diasT" readonly="readonly"/>
        </div>
    </div>

    <div class="form-group">

        <div class="col-sm-10">
            <label>Precio por día:</label>
            <input id="pordia" name="pordia" readonly="readonly"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-10">
           <label>Total: </label>
            <input id="total" name="total" readonly="readonly"/>
        </div>
    </div>

    <input name="alqID" id="alqID" hidden="hidden"/>
    <input name="eqname" id="eqname" hidden="hidden"/>
    <input name="cantAlquilada" id="cantAlquilada" hidden="hidden"/>

    <button class="btn-success" type="submit">Guardar</button>



</form>
</body>

<script th:inline="javascript">
    /*<![CDATA[*/


    restaFechas = function(f1,f2)
    {
        var aFecha1 = f1.split('/');
        var aFecha2 = f2.split('/');
        var fFecha1 = Date.UTC(aFecha1[2],aFecha1[1]-1,aFecha1[0]);
        var fFecha2 = Date.UTC(aFecha2[2],aFecha2[1]-1,aFecha2[0]);
        var dif = fFecha2 - fFecha1;
        var dias = Math.floor(dif / (1000 * 60 * 60 * 24));
        return dias;
    };

    function facturar() {

        var eq = [[${equipos}]];
        var eqId = document.getElementById("eqId").innerText;


        var dias = restaFechas(document.getElementById("fechaAlq").innerText, document.getElementById("fechaEntr").innerText);

        document.getElementById("diasT").value = dias;
        var cant = document.getElementById("cantEntregada").value;

        var total;

        for(var i = 0; i < eq.length; i++){

            if(eqId == eq[i].id){


                 total = dias * cant * eq[i].precioDia;
                document.getElementById("pordia").value = eq[i].precioDia;

            }
        }

        document.getElementById("total").value = total;

    }

    function ListChange() {

            var x = document.getElementById("clienteID");

            var modelList = document.getElementById("fechaCli");

            var alqList = [[${alquileres}]];

            for (var i = 0; i < alqList.length; i++) {

                if (alqList[i].cliente == x.options[x.selectedIndex].value) {

                    var opt = document.createElement("option");
                    opt.vaue = i+1;
                    opt.text = alqList[i].fechaAlquiler;
                    modelList.appendChild(opt);
                }

            }

        }

        function fillTable() {

          $("#myTable tbody tr").remove();

            var table = document.getElementById("myTable").getElementsByTagName('tbody')[0];

            var x = document.getElementById("fechaCli");
            var x2 = x.options[x.selectedIndex].value;
            var alqList = [[${alquileres}]];

            console.log(alqList);
            for(var i= 0; i < alqList.length; i++){

                if(alqList[i].fechaAlquiler == x2){
                    document.getElementById("alqID").value = alqList[i].id;
                    var row = table.insertRow(0);

                    var cell1 = row.insertCell(0);
                    cell1.innerHTML = alqList[i].equipoId;
                    cell1.setAttribute("id", "eqId");

                    var cell2 = row.insertCell(1);
                    cell2.innerHTML = alqList[i].cantidad;

                    var cell3 = row.insertCell(2);
                    var date = new Date(alqList[i].fechaAlquiler);
                    cell3.innerHTML = date.getDate() + '/' + (date.getMonth()+1)  + '/' +  date.getFullYear();
                    cell3.setAttribute("id", "fechaAlq");

                    var cell4 = row.insertCell(3);
                    date = new Date(alqList[i].fechaEntrega);
                    cell4.innerHTML = date.getDate() + '/' + (date.getMonth()+1)  + '/' +  date.getFullYear();
                    cell4.setAttribute("id", "fechaEntr");


                    var cell5 = row.insertCell(4);
                    cell5.innerHTML = "<input type='number' name='cantEntregada' id='cantEntregada'/>";
                    document.getElementById("cantEntregada").max = alqList[i].cantidad;
                    document.getElementById("cantEntregada").min = 1;

                    document.getElementById("eqname").value = alqList[i].equipoId;
                    document.getElementById("cantAlquilada").value = alqList[i].cantidad;

                }
            }



        }




    /*]]>*/

</script>
</html>