<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head  lang="en">
    <meta charset="UTF-8"/>
    <title>Registro Usuarios</title>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />

    <script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

</head>
<body>
<div th:include="fragments/NavBar :: navbar"></div>

<div class="panel panel-default">
    <div class="panel-heading">Registro de Usuarios</div>
    <div class="panel-body">

        <form class="form-horizontal" action="#"  th:action="@{/nuevoUsuario}" th:object="${usuario}" method="post" >

            <div class="form-group">
                <label class="control-label col-sm-2" for="username">Nombre de Usuario:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="username" name="username" type="text" th:field="*{username}"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="username">Contraseña:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="clave" name="clave" type="password" th:field="*{clave}"/>
                </div>
            </div>

            <div class="form-group" >
                <label class="control-label col-sm-2" >Rol:</label>
                <div class="col-sm-10">
                    <select class="form-control" name="rolSelect">
                        <option disabled>Seleccione</option>
                        <option>Administrador</option>
                        <option>Regular</option>
                   </select>
                </div>
            </div>

            <button class="btn-success" type="submit">Guardar</button>
        </form>
    </div>

</div>
</body>
</html>