<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Registro de Equipos</title>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />

    <script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">Registro de Equipos</div>
    <div class="panel-body">

        <form class="form-horizontal" action="#" th:action="@{/RegistroEquipos}" th:object="${equipo}" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label class="control-label col-sm-2" for="nombre">Familia:</label>
                <div class="col-sm-10">
                    <select class="form-control">
                        <option>Celular</option>
                    </select>
                </div>
                <button>Nueva Familia</button>
            </div>

            <hr>

            <div class="form-group">
                <label class="control-label col-sm-2" for="nombre">Nombre:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="nombre" name="noombre" type="text" th:field="*{nombre}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="marca">Marca:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="marca" type="text" th:field="*{marca}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="modelo">Modelo:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="modelo" type="text" th:field="*{modelo}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="valor">Valor:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="valor" type="text" th:field="*{valor}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="precioAlquiler">Precio Alquiler:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="precioAlquiler" type="text" th:field="*{precioAlquiler}"/>
                </div>
            </div>
            <button class="btn-success" type="submit">Guardar</button>
        </form>
    </div>

</div>
</body>
</html>